body, html{
    margin: 0px;
    padding: 0px;
}

*{
    font-family: "Barlow";
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}


h1{
    font-size: 8rem;
    margin: 0px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    text-shadow: 3px 3px 0px aqua;
}

h2{
    font-size: 2rem;
}

button{
    cursor: pointer;
    transition: all 500ms;
}

.socials{
    margin-top: 20px;
}

.social_icons{
    padding: 2px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
}

#button_home{
    font-size: 1.1rem;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 0px aqua;
}

button:hover{
    background-color: rgba(128, 128, 128, 0.671) !important;
}



